.cards {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0 230px;
}

.how-it-works h2 {
  text-align: center;
}

.card-container {
  text-align: center;
  width: 180px;
  height: 230px;
  border: solid 1px;
  border-color: rgba(197, 197, 197, 0.5);
  padding: 25px
}

.card-container img {
  width: 100%;
  height: 100px;
}

.card-container h3 {
  font-size: 16px;
}

.card-container p {
  color: #808080;
}
